<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.bju.spring.bigdataspringboot.dao.CommonDao">
    <select id="getDataSourceAll" resultType="com.cn.bju.spring.bigdataspringboot.bean.common.TDataSourceBean">
        select id,db_type,host,port,db_name,comment
        from t_datasource
        where status = 1
    </select>
    <select id="getDataSourceId" resultType="com.cn.bju.spring.bigdataspringboot.bean.common.TDataSourceBean">
        select *
        from t_datasource
        where status = 1 and id = #{id}
    </select>

    <select id="getTemplateInfoId" resultType="com.cn.bju.spring.bigdataspringboot.bean.common.TemplateInfo">
        select *
        from t_graph_info where id = #{id}
    </select>
    <select id="getTemplateInfo" resultType="com.cn.bju.spring.bigdataspringboot.bean.common.TemplateInfo">
        select *
        from t_graph_info
    </select>

    <insert id="insertGraphInfo" useGeneratedKeys="true" keyProperty="id" parameterType="com.cn.bju.spring.bigdataspringboot.bean.common.TGraphInfo">
        insert into t_graph_info (des_sql, graph_type, condition_fields, description, db_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.desSql,jdbcType=VARCHAR}, #{item.graphType,jdbcType=VARCHAR},
             #{item.conditionFields,jdbcType=VARCHAR},#{item.description,jdbcType=VARCHAR},
             #{item.dbId,jdbcType=BIGINT})
        </foreach>
    </insert>
    <insert id="upDataGraphInfo" useGeneratedKeys="true" keyProperty="id" parameterType="com.cn.bju.spring.bigdataspringboot.bean.common.TGraphInfo">
        update  t_graph_info set
        <foreach collection="list" item="item" index="index" separator=",">
            des_sql=#{item.desSql,jdbcType=VARCHAR},
            graph_type = #{item.graphType,jdbcType=VARCHAR},
            condition_fields = #{item.conditionFields,jdbcType=VARCHAR},
            description = #{item.description,jdbcType=VARCHAR},
            db_id = #{item.dbId,jdbcType=BIGINT}
        </foreach>
        <where>
            <foreach collection="list" separator="or" item="item">
                id = #{item.id}
            </foreach>
        </where>
    </insert>
</mapper>