<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.bju.spring.bigdataspringboot.dao.GoodsDao">
    <!--    店铺-->
    <select id="getGoodsNumber" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.GoodsShelvesBean">
        select *
        from goods_shelves
        where shop_id = #{shopId}
          and dt = #{dt}
    </select>
    <select id="getGoodsSale" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.GoodsSaleBean">
        select *
        from goods_sale
        where shop_id = #{shopId}
          and dt = #{dt}
    </select>
    <!--全平台-->
    <select id="getClientOnPrice" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.ClientOnePriceBean">
        select shop_id,
               round(sum(sale_succeed_money) / sale_user_count, 3) as money
        from client_one_price
        where shop_id = #{shopId}
          and dt = #{dt}
        group by shop_id, sale_user_count
    </select>
    <!--划分平台-->
    <select id="getClientOnPriceType" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.ClientOnePriceBean">
        select shop_id, money
        from client_one_price
        where shop_id = #{shopId}
          and dt = #{dt}
          and order_type = #{orderType}
    </select>


    <select id="getGoodsMoneyTop" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.GoodsMoneyTopBean">
        select *
        from goods_money_top
        where shop_id = #{shopId}
          and dt = #{dt}
        order by sale_succeed_money desc
    </select>
    <select id="getGoodsProfitTop" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.GoodsProfitTopBean">
        select *
        from goods_profit_top
        where shop_id = #{shopId}
          and dt = #{dt}
        order by sale_succeed_profit desc
    </select>
    <!--全平台-->
    <select id="getGoodsProvinceTop" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.GoodsProvinceTopBean">
        select *
        from goods_province_top
        where shop_id = #{shopId}
          and dt = #{dt}
        order by sale_succeed_money desc
    </select>
    <!--划分平台-->
    <select id="getGoodsProvinceTypeTop" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.GoodsProvinceTopBean">
        select *
        from goods_province_type_top
        where shop_id = #{shopId}
          and dt = #{dt}
          and order_type = #{orderType}
        order by sale_succeed_money desc
    </select>

    <!--全平台-->
    <select id="getGoodsSuccSale" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.GoodsSuccSale">
        select shop_id,
               sum(sale_succeed_money)    as sale_succeed_money,
               sum(succeed_orders_number) as succeed_orders_number,
               sum(sale_succeed_number)   as sale_succeed_number,
               sum(sale_user_number)      as sale_user_number
        from successful_transaction
        where shop_id = #{shopId}
          and dt = #{dt}
        group by shop_id
    </select>
    <!--划分平台-->
    <select id="getGoodsSuccSaleType" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.GoodsSuccSaleType">
        select *
        from successful_transaction
        where shop_id = #{shopId}
          and dt = #{dt}
          and order_type = #{orderType}
    </select>
    <!--全平台-->
    <select id="getRefundIndex" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.RefundIndexBean">
        select shop_id,
               sum(refund_money)                                   as refund_money,
               sum(refund_number)                                  as refund_number,
               round(sum(refund_number) / sum(save_user_count), 2) as quit_ratio,
               sum(avg_time)                                       as avg_time
        from refund_index
        where shop_id = #{shopId}
          and dt = #{dt}
        group by shop_id
    </select>
    <!--划分平台-->
    <select id="getRefundIndexType" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.RefundIndexBean">
        select
               *
        from refund_index
        where shop_id = #{shopId}
          and dt = #{dt}
          and order_type = #{orderType}
    </select>

    <!--客户分析销售-->
    <select id="getClientSale" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.ClientSaleBean">
        select
            shop_id,
            user_dis_number,
            present_user_dis_number,
            aged_user_dis_number,
            new_user_dis_number,
            type_user_ratio,
            new_user_ratio,
            aged_user_ratio
        from client_sale_analysis
        where shop_id = #{shopId}
          and dt = #{dt}
    </select>
    <!--客户分析销售分平台-->
    <select id="getClientSaleType" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.ClientSaleBean">
        select
            shop_id,
            user_dis_number,
            present_user_dis_number,
            aged_user_dis_number,
            new_user_dis_number,
            type_user_ratio,
            new_user_ratio,
            aged_user_ratio
        from client_sale_analysis_type
        where shop_id = #{shopId}
          and dt = #{dt}
          and order_type = #{orderType}
    </select>

    <!--客户采购排行分平台-->
    <select id="getClientSaleTopType" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.ClientSaleTopBean">
        select
            user_name,
            sale_succeed_money,
            sale_succeed_profit
        from client_sale_top
        where shop_id = #{shopId}
          and dt = #{dt}
          and order_type = #{orderType}
    </select>


    <!--    单商品-->
    <select id="getSaleUser" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.OrderSaleUserBean">
        select *
        from order_sale_user
        where shop_id = #{shopId}
          and sku_id = #{skuId}
          and dt = #{dt}
    </select>
    <select id="getPayIndex" resultType="com.cn.bju.spring.bigdataspringboot.bean.shop.PayIndexInfoBean">
        select *
        from pay_index_info
        where shop_id = #{shopId}
          and sku_id = #{skuId}
          and dt = #{dt}
    </select>
</mapper>